@model onlineshoppingstore.Models.Item
@{
    ViewBag.Title = "DataItem";
}

<h2>DataItem</h2>
<ul>

    <li> ItemId:@Model.ItemId</li>
    <li> CategoryId:@Model.CategoryId</li>

    <li>  ProducerId:@Model.ProducerId</li>
    <li> Title:@Model.Title</li>
    <li> Price:@Model.Price</li>

</ul>


