@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ONLINESHOP.LK<br />
    Albania,TR,+355695241256<br />
    <abbr title="Phone">P:</abbr>
    +355695241256
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@onlineshoplk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@onlineshoplk.com</a>
</address>